<html>
<body>
   <div>
       <h1>Post title</h1>
       <P>Post description</P>
     
   </div>
</body>
</html>







<!-- 
<h1>Hello</h1>


<a href="/post/new">Create post</a>


<hr/>
<h4>Posts</h4>

<main>
    <% Posts.forEach(post => { %>
         <h1> <%= post.PostTitle %> </h1>
         <a href="/post/read/<%= post.PostId %> "+post.PostId>Read post</a>   
    <%  }); %>
</main> -->