<h1>Login</h1>
<form  action="/user/login" method="POST">
    <input name="email" placeholder="enter your email" />
    <input name="password" placeholder="enter your password"/>
    <input type="submit" value="Login"/>
    
    <a href="/user/register">Register</a>
</form>