<form  action="/user/register" method="POST">
    <input name="Email" placeholder="enter your email" />
    <input name="Password" placeholder="enter your password"/>
    <input type="submit" value="Register"/>
    
    <a href="/user/login">Login</a>
</form>